.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 378px;
  margin: 0 0 0 -23px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 384px;
  width: 703px;
  margin: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 302px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0 413px;
}

.u-section-1 .u-table-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 377px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 410px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 249px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 123px;
  }
}