.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 29px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 384px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 324px;
  width: 1080px;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 313px;
  width: 583px;
  margin: 7px -7px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 320px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 320px;
  width: 583px;
  margin: 0 -7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 410px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 470px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 470px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 360px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 191px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }
}