.span{
  cursor: pointer;
}

.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-text-2 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 31px;
  margin: -23px 747px 0 199px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 35px;
  margin: 10px 747px 0 199px;
}

.u-section-1 .u-text-3 {
  margin: -30px auto 0 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 31px;
  margin: 15px 747px 0 199px;
}

.u-section-1 .u-text-4 {
  margin: -26px auto 0 0;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 31px;
  margin: 17px 747px 0 199px;
}

.u-section-1 .u-text-5 {
  margin: -21px auto 0 0;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 31px;
  margin: 22px 747px 0 199px;
}

.u-section-1 .u-text-6 {
  margin: -26px auto 0 0;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 31px;
  margin: 17px 747px 0 199px;
}

.u-section-1 .u-text-7 {
  margin: -21px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 23px 199px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -26px;
    margin-right: 571px;
    margin-left: 175px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 15px;
    margin-right: 571px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -28px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 20px;
    margin-right: 571px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -21px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 23px;
    margin-right: 571px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 28px;
    margin-right: 571px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-custom-html-6 {
    margin-top: 26px;
    margin-right: 571px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 30px;
    margin-left: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -31px;
    margin-right: 321px;
    margin-left: 205px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 31px;
    margin-top: 30px;
    margin-right: 321px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -26px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 30px;
    margin-right: 321px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -26px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 29px;
    margin-right: 321px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -21px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 23px;
    margin-right: 321px;
    margin-left: 205px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-top: 27px;
    margin-right: 321px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-left: 28px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 33px;
    margin-left: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 231px;
    margin-left: 115px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 231px;
    margin-left: 115px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 231px;
    margin-left: 115px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: 231px;
    margin-left: 115px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-right: 231px;
    margin-left: 115px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-right: 231px;
    margin-left: 115px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -26px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -26px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 16px;
    margin-right: -18px;
    margin-left: 164px;
  }

  .u-section-1 .u-custom-html-6 {
    margin-top: 14px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 10px;
    margin-bottom: 18px;
    margin-left: auto;
  }
}