<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Apps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jcupcakecompany.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Apps.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jcupcakecompany.js') }}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    <meta name="theme-color" content="#498fd0">
    <meta property="og:title" content="Apps">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
    <body class="u-body u-overlap u-overlap-transparent u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-a257"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-image u-logo u-image-1" data-image-width="955" data-image-height="619">
          <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="u-logo-image u-logo-image-1">
        </div>
        <p class="u-custom-font u-heading-font u-text u-text-default u-text-palette-1-base u-text-1">J's Cupcake Company </p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=""></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><span class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"style="padding: 18px 34px;">Home</span></li><li class="u-nav-item"><span class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 18px 34px;">Apps</span></li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><span class="u-button-style u-nav-link">Home</span>
                </li><li class="u-nav-item"><span class="u-button-style u-nav-link">Apps</span></li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-3053">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
          <ul class="u-spacing-30 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-palette-1-base u-button-style u-tab-link u-tab-link-1" id="link-tab-30b4" href="#tab-30b4" role="tab" aria-controls="tab-30b4" aria-selected="true">Contacts</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-tab-link u-tab-link-2" id="link-tab-081f" href="#tab-081f" role="tab" aria-controls="tab-081f" aria-selected="false">Invoices</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-tab-link u-tab-link-3" id="link-tab-4d57" href="#tab-4d57" role="tab" aria-controls="tab-4d57" aria-selected="false">Inventory</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-palette-1-base u-button-style u-tab-link u-tab-link-4" id="link-tab-c77a" href="#tab-c77a" role="tab" aria-controls="tab-c77a" aria-selected="false">Reporting</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-tab-pane-1" id="tab-30b4" role="tabpanel" aria-labelledby="link-tab-30b4">
              <div class="u-container-layout u-container-layout-1">
                <span id="manage-contacts" class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-1">Manage Contacts</span>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-tab-pane-2" id="tab-081f" role="tabpanel" aria-labelledby="link-tab-081f">
              <div class="u-container-layout u-container-layout-2">
                <span id="record-invoice" class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-2">Record Invoice</span>
                <span id="view-invoices" class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-3">View Invoices</span>
                <span id="record-payment" class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-4">Record Payment</span>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-tab-pane-3" id="tab-4d57" role="tabpanel" aria-labelledby="link-tab-4d57">
              <div class="u-container-layout u-container-layout-3">
                <span id="manage-inventory" class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-5">Manage Inventory</span>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-tab-pane-4" id="tab-c77a" role="tabpanel" aria-labelledby="link-tab-c77a">
              <div class="u-container-layout u-container-layout-4">
                <span class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-6">Invoice Analysis</span>
                <span class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-7">Inventory</span>
                <span class="u-active-palette-1-dark-1 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-light-2 u-radius-20 u-btn-8">Contacts Analysis</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-00c8"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">SAP@J's Cupcake Company | Ncube Manelisi</p>
      </div>
    </footer>
    <script type="module" type="text/javascript" src="{{ url_for('static', filename='js/Apps.js') }}" defer=""></script>
</body></html>